<div class="container">
	<ul class="profile-section pt-2 m-0 p-0">
		 <li>
		 	<span class="icon-width" style="padding-left: 7px;">
		 		<img class="profile-pic " src="../../../assets/images/profile/adminFace.png" alt="profile-pic">
		 	</span>
		 	<span class="link-width">
	 		 	<div class="admin">Dashboard</div>
		 		<div class="welcome">Welcome</div>
		 	</span>
		 </li>
	</ul>

	<div class="page-links pt-4">
		<ul class="list-unstyled">
			<li [routerLink]="'/dashboard'">
				<span class="icon-width"><i class="fa-solid fa-gauge"></i></span>
				<span class="link-width">Dashboard</span>
			</li>

			<li [routerLink]="'/category'">
				<span class="icon-width"><i class="fa-solid fa-cubes"></i></span>
				<span class="link-width">Category</span>
			</li>
			
			<li [routerLink]="'/product'">
				<span class="icon-width"><i class="fa-solid fa-box"></i></span>
				<span class="link-width" >Product</span>
			</li>

			<li [routerLink]="'/about'">
				<span class="icon-width"><i class="fa-solid fa-id-badge"></i></span>
				<span class="link-width" >About</span>
			</li>

			<li [routerLink]="'/dashboard'">
				<span class="icon-width"><i class="fa-solid fa-gauge"></i></span>
				<span class="link-width" >Dashboard</span>
			</li>

			<li [routerLink]="'/dashboard'">
				<span class="icon-width"><i class="fa-solid fa-gauge"></i></span>
				<span class="link-width" >Dashboard</span>
			</li>
		</ul>
	</div>
</div>
